@font-face {
  font-family: 'Audi Type Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Audi Type Bold'), url('../fonts/AudiType-Bold_03.woff') format('woff');
}

@font-face {
  font-family: 'Audi Type Light';
  src: url('../fonts/AudiTypeScreen-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.requiredField {
  color: #ff0000;
}

.formSection {
  width: 100%;
  display: flex;
}

.contact {
  max-width: 692px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.contact-wrapper {
  max-width: 535px;
}

.contact-conteinerField {
  max-width: 418px;
  margin: 70px 0 41px;
}

.contact-text {
  max-width: 466px;
  font-size: 22px;
  font-family: Audi Type Light;
  color: #151515;
}

.contact-text:not(:last-child) {
  margin: 33px 0 37px
}

.contact-h2 {
  font-size: 16px;
  font-family: Audi Type Light !important;
  font-weight: bold;
  color: #151515;
  text-transform: uppercase;
}


.formSearch {
  background-image: url(../images/backgroundForm.png);
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-left: 60px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
}

.formSearch-wrapper {
  max-width: 877px;
}

.formSearch-h1 {
  margin-bottom: 59px;
  font-size: 40px;
  color: #fff;
  font-family: Audi Type Bold;
}

.formSearch-input {
  font-size: 16px;
  font-family: Audi Type Light;
  color: #454545;
  background-color: #f3f6fc;
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #ca2433
}

.formSearch-inputWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.formSearch-input:hover,
.formSearch-input:focus {
  background-color: #fff;
}

.formSearch-p {
  font-size: 16px;
  font-family: Audi Type Light;
  color: #fff;
  margin-top: 27px;
  margin-bottom: 56px;
}

.infoCar {
  display: flex;
  width: 100%;
}

.infoCar-leftSection {
  width: 100%;
  min-width: 300px;
}

.infoCar-rightSection {
  margin-left: 40px;
  width: 100%;
}

.infoCar-yearInfo,
.infoCar-specific {
 display: flex;
}

.infoCar-yearInfo .devide {
  height: 0;
  border: 1px solid #ff959f;
  margin: 25px 14px 0;
  width: 10px;
}

.formSearch .btn-wrapper {
  margin-bottom: 80px;
}
.formSearch .btn-wrapper::after {
  opacity: 0.1;
}

@media (min-width: 1300px) {
  .formSearch {
    width: 1230px;
  }

  .contact-conteinerField {
    margin-top: 20px;
  }
}


@media (min-width: 1600px) {
  .contact {
    padding-left: 150px;
    padding-right: 66px;
  }
}


@media (max-width: 1250px) {
  .formSearch {
    background-size: cover;
  }

  .formSearch-wrapper {
    margin: auto;
  }

  .formSection {
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 50px;
  }

  .contact-conteinerField {
    margin: auto;
    margin-bottom: 41px;
  }

  .contact {
    padding-left: 10px;
    padding-bottom: 100px;
    margin: auto;
  }

  .contact-h2 {
    text-align: center;
  }

  .contact-sectionBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .formSearch .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .formSearch .btn-wrapper::after {
    opacity: 0.1;
    left: calc(50% - 117px);
  }
}

@media (max-width: 859px) {
  .formSearch {
    padding: 5px 0;
  }
  
  .formSearch-h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .formSearch input {
    max-width: 419px;
    margin: auto;
  }

  .infoCar-leftSection,
  .infoCar-rightSection {
     max-width: 419px;
  }

  .infoCar {
    flex-direction: column;
    align-items: center;
  }

  .infoCar-rightSection,
  .formSearch .btn-wrapper {
    margin: 0;
  }

  .infoCar-yearInfo,
  .infoCar-specific {
    justify-content: center;
  }
  
  .formSearch-p {
    display: block;
    max-width: 419px;
    text-align: center;
    padding: 5px;
    margin: auto;
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .formSearch .form-btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 417px) {
  .infoCar-yearInfo,
  .infoCar-specific {
    justify-content: space-between;
  }
  .infoCar-yearInfo .devide {
    display: none;
  }
}
